.box {
    margin: 10px;
}
.avatar-img {
    height: auto;
    max-width: 100%;
}

.comment-state {
    color: #586069;
    font-size: 15px;
}

p {
    font-size: 14px;
}

pre {
    font-size: 13px;
    background-color: #f6f8fa;
    padding: 16px;
    line-height: 1.45;
    overflow: auto;
}